<div class="container" role="edit-tifo"> 
  
  <%= render "layouts/small_header" %>

  <div class="row">
    <div class="sixteen columns">
      <h1>Choose Your <%= @tifo.team.name %> Anthem</h1>
    </div>
  </div>
  
  <%= form_for(@tifo, url: tifo_path(@tifo.token)) do |f| %>
        
    <div class="row offset-by-four">
      <div class="eight columns">
        <%= f.collection_select :track_id, @mytracks, :id, :title, prompt: true %>
      </div>
    </div>

    <div class="row offset-by-four">
      <div class="eight columns">
        <%= f.submit "Choose this Anthem", class: 'button' %>
      </div>
    </div>
  
  <% end %>
</div>


<script>
  $(document).ready(function(){
    $('#tifo_track_id').fancySelect();
  });
</script>